{% extends "base.html" %}

{% block content %}

<h1>내 메모들</h1>
{% comment %} notebook 생성 {% endcomment %}
<a href={% url "notebooks:notebook_create"  %}>메모하러가기</a>

{% comment %} 만약 노트북이 존재한다면 {% endcomment %}
{% if notebooks %}
    <ul>
        {% comment %} 모든 노트북 가져와서 리스트 출력하기 {% endcomment %}
        {% for notebook in notebooks %}
            <li>
                <strong>{{ notebook.name }}</strong>
                <p>게시글 수: {{ notebook.posts.count }}</p>
                <p>생성일: {{ notebook.created_at|date:"Y-m-d H:i" }}</p>
            </li>
        {% endfor %}
    </ul>
{% comment %} 만약 노트북이 없다면 {% endcomment %}
{% else %}
    <p>아직 생성된 노트북이 없습니다.</p>
{% endif %}

{% endblock content %}
