{% load static %}

<nav class="navbar">
    <div class="navbar-left">
      <a href="{% url 'notebooks:index' %}" class="nav-logo">
        <img src="{% static 'icon/icon.png' %}" alt="logo" class="nav-logo-img">
      </a>    
    </div>

    <div class="navbar-right">
        {% if request.user.is_authenticated %}
            <span class="nav-user">
                {{ request.user.username }}
            </span>
            <a href="{% url 'accounts:profile' %}" class="nav-link">회원정보</a>

            <form action="{% url 'accounts:logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="nav-button">로그아웃</button>
            </form>
        {% endif %}
    </div>
</nav>